@import '~styles/mixins/index';

.pro-trading-conditions-feedback {
  &__card {
    margin: 0 auto;
    padding: var(--spacing-2xl);

    border-radius: 10px;

    width: 260px;
    height: max-content;

    background-color: var(--background-feedback-cards);

    color: var(--background-primary);

    @include tablet {
      margin-bottom: var(--spacing-2xl);

      width: 100%;
      height: auto;
    }
  }

  &__name {
    margin-bottom: var(--spacing-m);

    font-size: var( --font-size-semi-l);
    font-weight: var(--font-weight-500);
    text-align: left;
    text-decoration: underline;
  }

  &__icon {
    margin-bottom: var(--spacing-m);

    width: 120px;
    height: 24px;
  }

  &__text {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-400);
  }
}
